:host {
  display: block;
  height: 100%;
}

.country-viewport {
  height: calc(100vh - 100px);
  overflow-y: auto;
  width: 100%;

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
  }

  .country-card {
    display: grid;
    gap: 2rem
  }
}