<div class="content-all">
  @if(isLoading() && countries().length === 0) {
    <p>cargando.......</p>
  } @else {
    <div class="country-controls">
      <mat-form-field>
        <mat-label>Buscar país</mat-label>
        <input
          matInput
          placeholder="Escribe el país"
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchChange($event)">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Regiones</mat-label>
        <mat-select [(ngModel)]="selectedRegion" (selectionChange)="onRegionChange()">
          <mat-option>Todas las regiones</mat-option>
          @for (region of regions; track region) {
            <mat-option [value]="region.value">{{region.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <cdk-virtual-scroll-viewport itemSize="300" #viewport class="country-viewport">
        <div class="grid-container" role="list">
          @for(country of countries(); track country.cca3; let i = $index) {
            <div class="country-card" role="listitem">
              <app-country-card
                [tabindex]="i + 1"
                [country]="country"
                (keydown.enter)="viewCountryDetail(country.cca3)"
                (keydown.space)="viewCountryDetail(country.cca3)"
                (click)="viewCountryDetail(country.cca3)"
              ></app-country-card>
            </div>
            }
        </div>
        @if(isLoading() && countries().length > 0) {
          <div class="loading-more">
            <span>Cargando más países</span>
          </div>
        }
        
        @if(!hasMore && !isLoading()) {
          <div class="no-more">
            @if(searchTerm.length > 0 && !searchHasResults()) {
              <span>No se encontraron países que coincidan con tu busqueda</span>
            } @else if(searchTerm.length === 0 ) {
              <span>¡Has visto todos los países disponibles!</span>
            }
          </div>
        }
      </cdk-virtual-scroll-viewport>
    </div>
    }
</div>