@use '@angular/material' as mat;
@use './variables' as *;

:root {
  @include mat.select-overrides((
    panel-background-color: white,
    enabled-trigger-text-color: $davys-gray,
  ));
}

.mat-mdc-text-field-wrapper {
  background-color: white !important;
}