<article
  class="country"
  [style.backgroundImage]="'url(' + country().flags.svg + ')'"
  role="region"
  [attr.aria-label]="country().name.common"
>
  <div class="overlay">
    <h3>{{ country().name.common }}</h3>
    <p class="text-capital">Capital: {{ country().capital?.[0] || 'N/A' }}</p>
    <p class="text-population">Población: {{ country().population ?? 0 | formatNumber }}</p>

    @if(isFavorite()) {
      <mat-icon class="favorited" aria-label="favorito">favorite</mat-icon>
    }
  </div>
</article>